body {
  background-color: rgb(255, 255, 255);
  font: 400 1.563em/1.38 'Yanone Kaffeesatz';
  color: rgb(0, 0, 0);
}

.text {
  float: left;
  color: rgb(0, 0, 0);
}

._button {
  display: block;
  float: left;
  clear: both;
  width: 15.8333333333%;
  height: 79px;
  margin: 21px 0 0 36.1666666666%;
  border-radius: 14px;
  background-color: rgb(34, 210, 38);
  font-size: 2em;
  text-align: center;
  color: rgb(0, 0, 0);
}

.text-1 {
  margin: 143px 0 0 36.08203%;
  font-size: 2.8em;
  font-weight: 200;
}

.text-2 {
  clear: both;
  margin: 64px 0 0 37.33203%;
  font-size: 1em;
}